/******************************
layout
******************************/

img {
  max-width: 100%;
}

a {
text-decoration: none;
color: orange;
}

body {
  padding-top: 60px;
  font-family: 'Open Sans', Arial,  sans-serif;
}


h1{
  font-family: 'Open Sans', Arial,  sans-serif;
  margin: 20px 0;
  color: #ddd;
  font-size: 1.75em; 
  font-weight: normal;
  line-height: 1.25em;
}
h2{
   font-family: 'Open Sans', Arial,  sans-serif;
   margin: 20px 0 0;
   font-size: 1.50em; 
   color: #ddd;
   line-height: 1.25em;
   font-weight: normal;
}

p{ 
   font-family: 'Open Sans', Arial,  sans-serif;
   color: #aaa;
}


/******************************
Heading
******************************/

header{
	
  float: center;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

/******************************
footer
******************************/
footer{
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #fff;
}

.social-icon {
  width:40px;
  height: 40px;
  margin: 0 5px;
}


/******************************
Color
******************************/

/* site body*/
body{
  background-image: url("pattern.jpg");

  background-color: #000;
    color: #cacaca;
}

/******************************
Carousel
******************************/

.myCarousel{
  text-align: center;
  max-width: 920px;
  max-height: auto;

}



/******************************
Video
******************************/
/*iframe{
  text-align: center;
  max-width:500px;
  max-height:300px;
  min-width: 320px;
}*/





