/******************************
layout
******************************/


a {
text-decoration: none;
}

body {
  padding-top: 60px;
  font-family: 'Open Sans', Arial,  sans-serif;
}


h1{
  font-family: 'Open Sans', Arial,  sans-serif;
  margin: 20px 0;
  color: #ddd;
  font-size: 1.75em; 
  font-weight: normal;
  line-height: 1.25em;
}
h2{
   font-family: 'Open Sans', Arial,  sans-serif;
   margin: 20px 0 0;
   font-size: 1.50em; 
   color: #ddd;
   line-height: 1.25em;
   font-weight: normal;
}

p{ 
   font-family: 'Open Sans', Arial,  sans-serif;
   color: #aaa;
}



img {
  max-width: 100%;
}
/******************************
Heading
******************************/

header{
  float: center;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

/******************************
footer
******************************/
footer{
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #fff;
}

.social-icon {
  width:40px;
  height: 40px;
  margin: 0 5px;
}






/******************************
Color
******************************/

/* site body*/
body{
  background-color: #000;
    color: #999;
}







